@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 18px;
    display: flex;
    line-height: 1.3;
    background-color: black;
    justify-content: center;
    font-family: 'Roboto Condensed';
    font-size: 18px;
}

.card {
    padding: 18px;
    max-width: 432px;
    border-radius: 9px;
    background-color: #C5E7CD;
    box-shadow: inset 0px 0px 9px rgba(40, 70, 30, 1);
}

.card img {
    width: 100%;
    margin: 9px 0;
    border-radius: 9px;
    box-shadow: 0 4px 10px rgba(40, 70, 30, 1);
}

span {
    color: black;
    padding: 0 3px;
    border-radius: 3px;
    display: block;
}

span:nth-child(4n-3) {
    background-color: #FDBBD6;
}

span:nth-child(4n-2) {
    background-color: #FEDC99;
}

span:nth-child(4n-1) {
    background-color: #FDF691;
}

span:nth-child(4n) {
    background-color: #A9DDF3;
    /* margin-bottom: 18px; */
}
